.form
{
	background:#f1f1f1; 
	width:470px; 
	margin:0 auto; 
	padding-left:50px; 
	padding-top:20px;
}

.form input, textarea 
{ 
	background-color: rgba(255, 255, 255, 0.4); 
	border: 1px solid rgba(122, 192, 0, 0.15); 
	padding: 7px; 
	font-family: Arial; 
	color: #4b4b4b; 
	font-size: 14px; 
	
	margin-bottom: 15px; 
	margin-top: -10px; 
}
.form input:focus, textarea:focus 
{ 
	border: 1px solid #ff5400; 
	background-color: rgba(255, 255, 255, 1); 
}


